<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{{name}}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel='stylesheet' href='/stylesheets/form-success.css'>
  </head>
  <body>
    <div id='welcome_container'>
      <div>
          <h1 id='company_name'>mySitter</h1>
        <br>
      </div>
      <div>
        <h3 id='welcome'>Welcome {{{firstname}}}!</h3>
        <p class='content'>Thanks for signing up.  You're now ready to begin your search.</p>
        <br>
        <a href="/form/swipe"><input type="button" class="btn btn-primary" value="Start"></a>
      </div>
    </div>
    <div class='background_faded' id='welcome_baby'></div>
      
  </body>
</html>
