<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mySitter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <link rel='stylesheet' href='../public/stylesheets/navbar.css'>
    <link rel='stylesheet' href='../public/stylesheets/matches.css'>
  </head>
  <body>
    <div id='navbar'>
        <div id='settings'>Settings
            <div class='setting-options setting-hidden'>Profile</div>
            <div class='setting-options setting-hidden'>Filters</div>
            <div class='setting-options setting-hidden'>Logout</div>
        </div>
        <div id='filter'>Filter</div>
        <div id='matches'>Matches</div>
    </div>
    <div class="matches">
        <div class="match">
          <div class='basics'>
              <div class="image"><img src="../public/images/female-icon.png" alt="female-icon"></div>
              <div class="name">firstname</div>
          </div>
          <div class="details">
            <div class="cost">$15/hour</div>
            <div class="experience">Experience: 2-3 years</div>
          </div>
        </div>
        <div class="match">
            <div class='basics'>
                <div class="image"><img src="../public/images/female-icon.png" alt="female-icon"></div>
                <div class="name">firstname</div>
            </div>
            <div class="details">
              <div class="cost">$15/hour</div>
              <div class="experience">Experience: 2-3 years</div>
            </div>
          </div>
          <div class="match">
            <div class='basics'>
                <div class="image"><img src="../public/images/female-icon.png" alt="female-icon"></div>
                <div class="name">firstname</div>
            </div>
            <div class="details">
              <div class="cost">$15/hour</div>
              <div class="experience">Experience: 2-3 years</div>

            </div>
          </div>
    </div>
    <!-- <div class='background_faded' id='welcome_baby'></div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/moment.min.js"></script>
    <script src="../public/scripts/navbar.js"></script>
  </body>
</html>