<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/calendar.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/swipe.css">

    <title>BabySitter App</title>
</head>
<body>
    <div id='navbar'>
        <div id='settings'>Settings
            <div class='setting-options setting-hidden'>Profile</div>
            <div class='setting-options setting-hidden'>Filters</div>
            <div class='setting-options setting-hidden'>Logout</div>
        </div>
        <div id='filter'>Filter</div>
        <div id='matches'>Matches</div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/scripts/moment.min.js"></script>
    <script src="/scripts/swipe.js"></script>
</body>
</html>