html {
    box-sizing: border-box;
    background: rgb(242,242,242);
    font-size: 8px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: rgb(242,242,242);
}

/* form container */
form {
    margin: 2rem;
    padding: 2rem 10%;
    background: rgb(252, 252, 252);
    /* border: .2rem solid grey; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

label {
    font-size: 1.75rem;
    padding-left: 0;
}

.form-intro {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1.5rem; 
}

.btn-default {
    background: lightskyblue;
    color: white;
    width: 100%;
}

/* additional form information */

.form-image {
    width: 8rem;
}

#car {
    width: 2rem;
    height: 2rem;
    position:relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shift {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.space {
    padding: 1rem;
}


