html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* form container */
form {
    margin: 2rem;
    padding: 2rem 10%;
}

.form-intro {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem; 
}

/* edits the input boxes */
/* .form-control {
    width: 50%;
    min-width: 100px;
} */