body {
    width: 100%;
    height: 100%;
}


/* swipe */

.main-box {
    display: grid;
    grid-template-rows: 8.5fr 1.5fr;
    position: absolute;
    width: auto;
    height: auto;
    padding: 2rem;
}

.babysitter-description {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

img {
    width: 24rem;
    height: 34rem;
    display: block;
}

p {
    margin:0;
    align-self: center;
}

.behind {
    z-index: -1;
}