html {
    box-sizing: border-box;
    font-size: 8px;
    height: 100%;
    background: rgb(242,242,242);
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}


fieldset{
  height: 100%;
  width: 100%;
}

.step{
    display: none;
}

.btn {
  width: 100px;
  height: 100px;
}

label {
  margin: 0;
}

label > img {
  height: 50px;
  width: 50px;
}

.input > input
{
    display: none;
    position: absolute;
    z-index: -1;
}

.display{
  display: block;
}

.btn{
  background: lightskyblue;
  color:#fff;
  border: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /* display: none; */
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  #image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 350px;
    background:#eee;
    font-size:24px;
    color: rgba(135, 206, 250, 0.8);
    background: rgb(252, 252, 252);
    border: .2rem solid silver;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  /* The dots/bullets/indicators */

.buttons{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 12px;
    width: 100%;
  }
  
.dot {
    padding: 5px;
    cursor:pointer;
    height: 25px;
    width: 75px;
    margin: 2px 2px;
    background-color: #87cefa;
    border-radius: 20px;
    /* border-radius: 50%; */
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: aliceblue;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s; 
    animation-name: fade;
    animation-duration: 1.5s; 
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }