html {
    box-sizing: border-box;
    font-size: 8px;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: scroll;
}

#slides-container {
  margin-top: 10rem;
  background-color: #fff;
}

fieldset{
  height: 100%;
  width: 100%;
}

legend{
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: lightcoral;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: aqua;
  box-shadow: 2px 2px 2px lightcoral;
  text-shadow: 2px 2px lightgrey;
  text-align: center;
}

.step{
    display: none;
}

.btn {
  width: 100px;
  height: 100px;
}

label {
  margin: 0;
  font-weight: 700;
}

label > img {
  height: 50px;
  width: 50px;
}

p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.birthday{
  display: flex;
  width: 100%;
  justify-content: center;
}

.message{
  display: flex;
  width: 100%;
  justify-content: center;
}

#message{
  width: 125px;
}

.form-check-label{
  font-weight: 400;
}

#firstname, #lastname, #datepicker, #password, #emailaddress,
#address, #city, #state, #zipcode, 
#maxchildren, #hourlyrate {
  width: 95%;
  height: 35px;
  font-size: 16px;
  border: 1px solid lightgrey;
  border-radius: .5rem;
  box-shadow: 1px 1px 1px lightgray;
  padding: 5px;
  background: none;
}

.radio-form{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.male {
  text-align: center;
    width: 120px;
    border: 1px solid lightgrey;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    box-shadow: 1px 1px 1px lightgrey;
    height: 35px;
    transition: background-color 0.6s ease;
    font-size: 16px;
    padding-top: .5rem;
}

.female {
  text-align: center;
    border: 1px solid lightgrey;
    width: 120px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    box-shadow: 1px 1px 1px lightgrey;
    height: 35px;
    transition: background-color 0.6s ease;
    font-size: 16px;
    padding-top: .5rem;
}

#female-radio, #male-radio {
  display: none;
}

#male-radio ~ img {
  height: 100%;
}

#female-radio ~ img {
  height: 100%;
}

.fill-in-male{
  background-color: lightskyblue;
  color: white;
}

.fill-in-female{
  background-color: lightpink;
  color: white;
}

.hourlyrate, #mileswilling {
  flex-direction: row;
}
 
.input > input
{
    display: none;
    position: absolute;
    z-index: -1;
}

.form-check-input{
  box-shadow: none;
}

.saveinfo{
  box-shadow: none;
}

.display{
  display: block;
}

.btn{
  background: lightskyblue;
  color:#fff;
  border: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: lightcoral;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .hidden{
    display: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  } */

  /* #mon_morning {
    display: none;
  } */

  #image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-left: 1.2rem;
    margin-bottom: 2.5rem;
    background:#eee;
    font-size:24px;
    color: rgba(135, 206, 250, 0.8);
    background: rgb(252, 252, 252);
    border: .2rem solid silver;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: hidden;
}

  #image-container > img {
    width: 100%;
  }

  /* The dots/bullets/indicators */

.buttons{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 12px;
    width: 100%;
  }

  .submit-button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 30rem;
  }

  .btn-primary{
    height: 50px;
    width: 150px;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border-top-right-radius: 5rem;
  }

  @media only screen and (min-width: 360px){
    .buttons{
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-between;
    }
  }
  
.dot {
    padding: 5px;
    cursor:pointer;
    height: 25px;
    width: 75px;
    margin: 2px 2px;
    background-color: #87cefa;
    border-radius: 20px;
    display: inline-block;
    transition: background-color 0.6s ease;
    border: #87cefa;
    box-shadow: 2px 2px 2px;
  }
  
  .active, .dot:hover {
    background-color: #fff;
    display: block;
  }

  .textchange{
    color: lightcoral
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .5s; 
    animation-name: fade;
    animation-duration: .5s; 
    animation-fill-mode: forwards;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  input.hide-checkbox { display: none }   